//Devices
$phablet: 768px;
$tablet: 1024px;
$laptop: 1280px;

//Modules
$navBar: 60px;

//Colors
$black: #050505;
$gray: #2B2B2B;
$silver: #E5E5E5;
$white: #F7F7F7;
$blue: #31A7D8;
$light-blue: #69BFE2;

//phcolors
$light-green-blue: #00c7b6;
$dark-green-blue: #005e72;
$light-maroon: #995336;
$dark-maroon: #5c1919;

//Fonts
$font-head: "Lovelo-Black";
$font-text: "Montserrat";
