@import 'helpers/_mixins.scss';

#about {
	.container {
		padding: 38px 30px;
		align-items: center;

		.about-img{
			margin: auto;
			margin-left: 50px;
			box-shadow: -9px 15px 15px 2px rgba(0, 0, 0, .25);
			img {
				margin: auto;
				height: auto; 
		    	width: auto;
				max-width: 170px;
			    border-bottom: 5px solid;
			    border-image: linear-gradient(135deg, rgba(0, 199, 182,.9) 50%, rgba(0, 94, 114,.9) 100%) 100;
		  	}

		  &.pause-anim {
				visibility: hidden;
			}

			&.in-view {
				@include animation(
					'anim-shadow .8s .7s ease-out 1 normal backwards',
					'grow-card .8s .7s ease-out 1 normal backwards',
					'fade-in .5s .3s ease-out 1 normal backwards'
				);
			}
		}

		.text {
			padding: 0 20px;
			color: $white;
			font-family: $font-text;
			border-left: 1px solid $silver;
			line-height: 1.6;

			&.pause-anim {
				visibility: hidden;
			}

			&.in-view {
				@include animation(
					'fade-in .5s .3s ease-out 1 normal backwards',
					'slide-in-up .4s .3s ease-out 1 normal backwards'
				);
			}
		}

		@include mobile {
			flex-wrap: wrap;

			.about-img {
				order: -1;
				margin: 16px 0;
				img {
					max-width: 200px;
			    	width: 100%;
				}
			}

			.text {
				font-size: 3.1vw;
			}
		}

		@include phablet {
			img {
				max-width: 200px;
		    	width: 20vw; 
			}
		}
	}
}