@import 'helpers/_mixins.scss';

#contact {
	.container {
		padding: 38px;
		
		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			color: $white;
			font-family: $font-head;

			.entry {
				height: 40px;
				background-color: transparent;
				border-style: none;
				border-bottom: 1px solid;
				border-image: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100%) 100;
				&:focus {
					outline: none;
				}
				color: $white;
				font-family: $font-text;
			}

			.message {
				height: 130px;
				resize: none;
				background-color: transparent;
				border-style: none;
				border-bottom: 1px solid;
				border-image: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100%) 100;
				&:focus {
					outline: none;
				}
				color: $white;
				font-family: $font-text;
				line-height: 1.6;
			}

			.submit {
				margin-top: 20px;
				width: 100%;
				height: 38px;
				border-style: none;
				background: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100%);
				color: $white;
				font-family: $font-text;
			}

			label {
				margin: 20px 0 8px 0;
			}

			@include mobile {
				.entry {
					font-size: .9em;
				}

				.message {
					font-size: .7em;
				}
			}
		}
	}
}