@import 'helpers/_variables.scss';

header {
	height: 100vh;
	max-height: 1000px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	font-family: $font-head, serif;
	background-image: linear-gradient( 135deg,rgba(153, 83, 54,.4) 50%, rgba(92, 25, 25,.4) 100%), url("../assets/office_2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.head-text{
		width: 100%;
		max-width: 900px;

		.container {
			position: relative;
			padding: 0 30px;

			// &.pause-anim {
			// 	visibility: hidden;
			// }

			// &.in-view{
			// 	@include animation(
			// 		'fade-in .6s ease-out 1 normal forwards',
			// 		'slide-in-left .5s ease-out 1 normal forwards'
			// 	);

			// 	.box {
			// 		@include animation(
			// 			'fade-in .6s ease-out 1 normal forwards',
			// 			'slide-in-right .5s ease-out 1 normal forwards'
			// 		);
			// 	}
			// }

			.top {
				position: relative;
				font-size: 4em;
				margin: 0;
				z-index: 1;

				.box {
					background: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100% );
					position: absolute;
					width: 270px;
					height: 55px;
					top: -13px;
					left: -20px;
					z-index: -1;
				}

				&.pause-anim {
					visibility: hidden;
				}

				&.in-view {
					@include animation(
						'fade-in .6s .2s ease-out 1 normal backwards',
						'slide-in-left .5s .2s ease-out 1 normal backwards'
					);

					.box {
						@include animation(
							'slide-in-right .5s .2s ease-out 1 normal backwards'
						);
					}
				}
			}

			.bottom {
				font-size: 1.3em;
				margin: 0;

				&.pause-anim {
					visibility: hidden;
				}

				&.in-view {
					@include animation(
						'fade-in .6s .7s ease-out 1 normal backwards',
						'slide-in-left .5s .7s ease-out 1 normal backwards'
					);
				}
			}				
		}


		@include mobile {
			width: 100%;
			padding-left: 30px;
			.container {
				padding: 0 20px;
				.top {
					font-size: 3em;
					.box {
						width: 4.3em;
						height: 1em;
					}
				}
				.bottom {
					font-size: 1em;
				}
			}
		}

		@include phablet {
			width: 95%;
		}
	}
}