.map {
	background-image: linear-gradient( 135deg,rgba(153, 83, 54,.3) 50%, rgba(92, 25, 25,.3) 100%), url('../assets/staticmap_2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: 0;
}
