@import 'helpers/_mixins.scss';
@import 'helpers/_variables.scss';

///Default
nav {
	background-color: $black;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: $navBar;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		width: 80%;
		height: 100%;

		.options {
			display: flex;
			align-items: center;
			height: 100%;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 85px;
				text-decoration: none;
				color: $white;
			}
		}

		.icons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 90%;
			width: 190px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;

				img {
					height: 32px;
					width: 32px;
				}
			}
		}

		@include phablet {
			.options {
				width: 29vw;

				a {
					width: 7vw;
				}
			}

			.icons {
				width: 21vw;

				a {
					height: 100%;
					width: 5vw;
					padding: 0;

					img {
						height: 30px;
						width: 30px;
					}
				}
			}
		}
	}
}

//Mobile
@include mobile {

	nav.hidden {
		display: none;
	}

	nav {
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;

		.container {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;

			.options {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: auto;
				height: auto;

				a {
					margin: 10px 0;
					width: 60%;
					height: 70px;
					max-width: 200px;
				}
			}

			.icons {
				height: 12%;
				width: 200px;

				a {
					img {
						height: 36px;
						width: 36px;
					}
				}
			}
		}
	}
}