@import 'helpers/_mixins.scss';

#projects {
	.container {
		padding: 38px 30px ;
		flex-wrap: wrap;

		.exit-wrapper {
			margin-left: auto;
			height: 0;

			&.hidden {
				display: none;
			}
			
			button {
				position: relative;
				height: 38px;
				width: 50px;
				background-color: $white;
				border-style: none;
				top: -38px;
				left: 30px;
			}
		}

		.project-module {
			display: flex;
			margin: 20px 0;
			flex-direction: column;
			color: $white;

			&.hidden {
				display: none;
			}

			h3 {
				margin: 12px auto;
				font-family: $font-head;
			}

			.info-container {
				display: flex;
				align-items: center;

				.text {
					padding: 0 20px;
					font-family: $font-text;
					border-left: 1px solid $silver;
					line-height: 1.6;
				}

				.module-img {
					display: flex;
					flex-direction: column;

					a {
						margin: 20px auto 0 auto;
						background: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100% );
						height: 38px;
						width: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						text-decoration: none;
						color: $white;
						font-family: $font-text;
					}
				}

			}

			@include mobile {
				width: 100%;

				.info-container {
					flex-direction: column;
					margin: auto;

					.text {
						margin-bottom: 30px;
						font-size: 3.1vw;
					}

					.module-img {
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}

		.card {
			display: flex;
			align-items: center;
			margin: 20px 0;
			background: linear-gradient(165deg, rgb(28, 28, 28), rgb(22, 22, 22));
			padding: 38px 60px;
			box-shadow: -9px 15px 15px 2px rgba(0, 0, 0, .25);

			h3 {
				font-family: $font-text;
			}

			.text {
				display: none;
			}

			&.hidden {
				display: none;
			}

			.divide {
				height: 100%;
				min-width: 1px;
				background-color: $silver;
				margin: 0 15px;
			}

			img {
				margin: auto;
				height: auto;
			    width: auto;
			    max-width: 300px;
			}

			.info {
				display: flex;
				flex-direction: column;
				color: $white;
				height: 200px;
				font-family: $font-text;
				line-height: 1.6;

				.study {
					border-style: none;
					background: linear-gradient(135deg, rgba(0, 199, 182,.7) 50%, rgba(0, 94, 114,.7) 100%);
					width: 100px;
					min-height: 38px;
					color: $white;
					font-family: $font-text;
				}
			}

		}

		@include mobile {
			padding: 38px 30px;

			.exit-wrapper {
				button {
					left: 20px;
				}
			}
			
			.card {
				flex-wrap: wrap;
				justify-content: center;
				max-width: 300px;
				width: 88%;
				margin: 20px;
				padding: 38px 20px;
				
				.project-img {
					width: 100%;
					img {
						height: auto;
						width: 100%;
					}
				}

				.divide {
					width: 100%;
					height: 2px;
					background-color: $silver;
					margin: 15px 0;
				}

				.info {
					text-align: center;
					margin: 0;
					height: auto;
										
					h3 {
						margin: 0;
						font-size: .9em;
					}
					p {
						font-size: .85em;
					}

					.study {
						margin: 0 auto;
					}

				}
			}
		}

		@include phablet {
			padding: 38px 30px;

			.exit-wrapper {
				button {
					left: 20px;
				}
			}

			.card {
				img {
					max-width: 300px;
					max-height: 300px;
					width: 30vw;
				}
			}		
		}

	}
}