@import 'helpers/_mixins.scss';

#skills {
	background-image: url('../');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	.container {
		flex-wrap: wrap;
		padding: 38px 0;
		max-width: 900px;
		margin: auto;

		p {
			background-color: #fff;
			padding: 10px;
			margin: 10px 20px;
		}

		@include mobile {
			padding: 38px 20px;
			p {
				padding: 10px;
				margin: 10px;
			}
		}

		@include phablet {
			padding: 38px 70px;
			p {
				padding: 10px;
				margin: 10px 20px;
			}
		}
	}
}